button {
  display: inline;
  width: 100px;
  height: 50px;
  padding-left: 0px;
  padding-right: 0px;
}

h1 {
  text-align: center;
  width: 830px;
}

.result-container {
  padding-top: 20px;
}

#result {
  width: 830px;
  height: 200px;
  border: 2px solid black;
}
